# **Data Collection**

## Objectives

- Fetch data from Kaggle and save it as raw data.
- Inspect the data and save it under outputs/datasets/collection

## Inputs

- Kaggle JSON file - the authentication token.

## Outputs

- Generate Dataset: inputs/datasets/raw/ASA All PGA Raw Data - Tourn Level.csv

## Additional Comments

- A level of data inspection has been done in this Jupyter Notebook to check if the data is relevant for the client's needs. Comments relating to this can be found in the  'Conclusions and Next Steps' section.

---

# Change working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os

current_dir = os.getcwd()

# Move up only if the current folder name is "jupyter_notebooks"
if os.path.basename(current_dir) == "jupyter_notebooks":
    os.chdir(os.path.dirname(current_dir))
    print("Moved up to project root.")
else:
    print("Already at project root.")

print("Current working directory:", os.getcwd())

Moved up to project root.
Current working directory: c:\project-five-golf-data-analytics

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\project-five-golf-data-analytics'

# Fetch data from Kaggle

Ensure kaggle.json file is recognised.

In [5]:
os.environ["KAGGLE_CONFIG_DIR"] = os.getcwd()

Define the dataset and download it.

In [6]:
KaggleDatasetPath = "robikscube/pga-tour-golf-data-20152022"
DestinationFolder = "inputs/datasets/raw"
!kaggle datasets download -d {KaggleDatasetPath} -p {DestinationFolder} -q

Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\project-five-golf-data-analytics\venv\Scripts\kaggle.exe\__main__.py", line 7, in <module>
    sys.exit(main())
             ~~~~^^
  File "C:\project-five-golf-data-analytics\venv\Lib\site-packages\kaggle\cli.py", line 68, in main
    out = args.func(**command_args)
  File "C:\project-five-golf-data-analytics\venv\Lib\site-packages\kaggle\api\kaggle_api_extended.py", line 1741, in dataset_download_cli
    with self.build_kaggle_client() as kaggle:
         ~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\project-five-golf-data-analytics\venv\Lib\site-packages\kaggle\api\kaggle_api_extended.py", line 688, in build_kaggle_client
    username=self.config_values['username'],
             ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^
KeyError: 'username'

Unzip and delete kaggle.json file

In [7]:
import zipfile
import glob

for zip_path in glob.glob(os.path.join(DestinationFolder, "*.zip")):
    with zipfile.ZipFile(zip_path, "r") as zip_ref:
        zip_ref.extractall(DestinationFolder)
    os.remove(zip_path)

kaggle_json_path = "kaggle.json"
if os.path.exists(kaggle_json_path):
    os.remove(kaggle_json_path)

print(f"All zip files extracted and cleaned up. kaggle.json deleted.")

All zip files extracted and cleaned up. kaggle.json deleted.

---

# Load and Inspect Kaggle Data

Get a data summary.

In [14]:
import pandas as pd

data_folder = "inputs/datasets/raw"
csv_files = [f for f in os.listdir(data_folder) if f.endswith('.csv')]

if csv_files:
    csv_path = os.path.join(data_folder, csv_files[0])
    df = pd.read_csv(csv_path)
    print(f"Loaded dataset: {csv_files[0]}")
else:
    raise FileNotFoundError("No CSV file found in the data folder.")

df.head()

Loaded dataset: ASA All PGA Raw Data - Tourn Level.csv

,Player_initial_last,tournament id,player id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,...,purse,season,no_cut,Finish,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
0,A. Ancer,401353224,9261,288,289,60.0,51.1,56,3,7.6,...,12.0,2022,0,T32,0.20,-0.13,-0.08,0.86,0.65,0.85
1,A. Hadwin,401353224,5548,288,286,72.5,61.5,61,8,13.0,...,12.0,2022,0,T18,0.36,0.75,0.31,0.18,1.24,1.60
2,A. Lahiri,401353224,4989,144,147,21.5,17.4,27,0,0.0,...,12.0,2022,0,CUT,-0.56,0.74,-1.09,0.37,0.02,-0.54
3,A. Long,401353224,6015,144,151,20.5,13.6,17,0,0.4,...,12.0,2022,0,CUT,-1.46,-1.86,-0.02,0.80,-1.08,-2.54
4,A. Noren,401353224,3832,144,148,23.5,18.1,23,0,1.2,...,12.0,2022,0,CUT,0.53,-0.36,-1.39,0.19,-1.56,-1.04

In [15]:
df.columns.tolist()

['Player_initial_last',
 'tournament id',
 'player id',
 'hole_par',
 'strokes',
 'hole_DKP',
 'hole_FDP',
 'hole_SDP',
 'streak_DKP',
 'streak_FDP',
 'streak_SDP',
 'n_rounds',
 'made_cut',
 'pos',
 'finish_DKP',
 'finish_FDP',
 'finish_SDP',
 'total_DKP',
 'total_FDP',
 'total_SDP',
 'player',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'tournament name',
 'course',
 'date',
 'purse',
 'season',
 'no_cut',
 'Finish',
 'sg_putt',
 'sg_arg',
 'sg_app',
 'sg_ott',
 'sg_t2g',
 'sg_total']

Check for missing data.

In [16]:
missing_values = df.isnull().sum()
print(missing_values)

Player_initial_last        0
tournament id              0
player id                  0
hole_par                   0
strokes                    0
hole_DKP                   0
hole_FDP                   0
hole_SDP                   0
streak_DKP                 0
streak_FDP                 0
streak_SDP                 0
n_rounds                   0
made_cut                   0
pos                    15547
finish_DKP                 0
finish_FDP                 0
finish_SDP                 0
total_DKP                  0
total_FDP                  0
total_SDP                  0
player                     0
Unnamed: 2             36864
Unnamed: 3             36864
Unnamed: 4             36864
tournament name            0
course                     0
date                       0
purse                      0
season                     0
no_cut                     0
Finish                  7683
sg_putt                 7684
sg_arg                  7684
sg_app                  7684
sg_ott                  7684
sg_t2g                  7684
sg_total                7683
dtype: int64

Check the missing values in 'pos' field.

In [17]:
missing_pos = df[df['pos'].isnull()]
missing_pos.head()

,Player_initial_last,tournament id,player id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,...,purse,season,no_cut,Finish,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
2,A. Lahiri,401353224,4989,144,147,21.5,17.4,27,0,0.0,...,12.0,2022,0,CUT,-0.56,0.74,-1.09,0.37,0.02,-0.54
3,A. Long,401353224,6015,144,151,20.5,13.6,17,0,0.4,...,12.0,2022,0,CUT,-1.46,-1.86,-0.02,0.80,-1.08,-2.54
4,A. Noren,401353224,3832,144,148,23.5,18.1,23,0,1.2,...,12.0,2022,0,CUT,0.53,-0.36,-1.39,0.19,-1.56,-1.04
5,A. Putnam,401353224,5502,144,151,19.5,12.0,19,0,6.0,...,12.0,2022,0,CUT,-0.97,0.14,-2.02,0.31,-1.56,-2.54
9,A. Smalley,401353224,9484,144,151,18.0,10.9,20,0,0.6,...,12.0,2022,0,CUT,-1.89,-0.71,0.71,-0.65,-0.65,-2.54

Check that the no values in 'pos' field are due to players missing the cut (in golf missing the cut = a very bad finish so would still be relevant data for this study).

In [18]:
cut_check = df[df['pos'].notnull() & (df['Finish'].str.lower() == 'cut')]
cut_check[['tournament id', 'pos', 'Finish']]

       tournament id   pos Finish
19508      401025263  19.0    CUT
28896           2510  22.0    CUT
29952           2499  52.0    CUT
30181           2497  18.0    CUT
30430           2520   9.0    CUT
31446           2488  26.0    CUT
31450           2488  63.0    CUT
31455           2488  59.0    CUT
31471           2488  75.0    CUT
31479           2488  68.0    CUT
31493           2488  52.0    CUT
31498           2488  11.0    CUT
31518           2488   5.0    CUT
31524           2488  20.0    CUT
31527           2488  54.0    CUT
31532           2488   5.0    CUT
31537           2488  52.0    CUT
31551           2488  39.0    CUT
31558           2488  20.0    CUT
31563           2488  11.0    CUT
31607           2485  30.0    CUT
31848           2486  58.0    CUT
32095           2487  33.0    CUT
34182           2245  46.0    CUT
34187           2245  34.0    CUT
34446           2268  28.0    CUT
35508           2236  67.0    CUT
35510           2236  22.0    CUT
35522           2236  74.0    CUT
35523           2236  14.0    CUT
35530           2236  49.0    CUT
35536           2236  67.0    CUT
35537           2236  41.0    CUT
35538           2236  30.0    CUT
35555           2236   8.0    CUT
35560           2236  20.0    CUT
35568           2236  41.0    CUT
35572           2236   4.0    CUT
35576           2236   4.0    CUT
35582           2236   8.0    CUT
35586           2236  49.0    CUT
35596           2236  22.0    CUT
35598           2236  56.0    CUT
35605           2236  22.0    CUT
35623           2236  14.0    CUT

The above indicates some confusion in the data that needs to be investigated. It would not be possible to be 'cut' from a golf tournament and also finish in a good finishing position (eg 4th).
A comparison of the data for 'pos' and the data for 'finish' is required.

In [ ]:
unique_finishes = df['Finish'].unique()
print("Unique values in 'Finish':")
print(unique_finishes)

finish_counts = df['Finish'].value_counts()
print("\nCounts of each 'Finish' value:")
print(finish_counts)

Unique values in 'Finish':
['T32' 'T18' 'CUT' 'T26' 'T67' 'T45' '2' nan '1' 'T60' 'T10' '69' 'T13'
 'T53' 'T64' 'T48' 'T5' 'T37' '31' 'T3' 'T51' '70' 'T35' 'T15' '68' 'T27'
 'T40' 'T21' 'T57' '3' 'T7' '66' 'T52' 'T23' 'T4' 'T63' 'T12' '67' 'T9'
 'T71' 'T41' 'T34' 'T69' 'T55' 'T30' 'T75' '54' 'T20' '78' 'T46' 'T79'
 'T38' 'T65' 'T17' '8' 'T59' 'T25' 'T76' 'T73' 'T83' 'T56' 'T6' 'T2' 'T62'
 'T49' 'T31' '61' 'WD' 'T42' 'T24' 'T33' '72' 'T29' '5' 'T61' 'T11' '10'
 'T66' 'T54' 'T70' '43' 'T39' 'T44' '46' 'T50' 'T14' 'T8' '52' '47' 'T58'
 'T16' 'T68' 'T22' '4' 'T74' '60' '77' '73' 'T72' '15' '75' '71' '9' '74'
 '6' 'T43' '64' '37' '65' 'MDF' '59' '62' 'T28' '79' '76' '13' 'T36' '11'
 '63' '38' 'T19' '12' 'T47' 'DQ' '7' '29' '25' '48' '51' '14' '19' '56'
 '81' '80' '58' '21' '57' 'T77' '53' '55' '30' '22' '23' '17' '50' '34'
 '28' '82' '83' '84' '39' '20' 'T78' 'T80' '24' '18' 'W/D' '86' 'T82'
 'T84' '49' 'T87' '90' 'T85' '89' '32' '26' '33' '16' '85' 'T81' '27' '41'
 '87' '42' '91']

Counts of each 'Finish' value:
Finish
CUT    12146
T17      327
T18      324
T13      296
T26      280
       ...
90         1
41         1
87         1
42         1
91         1
Name: count, Length: 175, dtype: int64
Number 1 appears 242 times in 'Finish'
Number 2 appears 352 times in 'Finish'
Number 3 appears 300 times in 'Finish'
Number 4 appears 310 times in 'Finish'
Number 5 appears 258 times in 'Finish'
Number 6 appears 266 times in 'Finish'
Number 7 appears 276 times in 'Finish'
Number 8 appears 269 times in 'Finish'
Number 9 appears 241 times in 'Finish'
Number 10 appears 284 times in 'Finish'

In [25]:
finish_str = df['Finish'].astype(str).str.upper()

for i in range(1, 11):
    count = finish_str.str.contains(rf'\bT?{i}\b').sum()
    print(f"Number {i} appears {count} times in 'Finish'")

Number 1 appears 242 times in 'Finish'
Number 2 appears 352 times in 'Finish'
Number 3 appears 300 times in 'Finish'
Number 4 appears 310 times in 'Finish'
Number 5 appears 258 times in 'Finish'
Number 6 appears 266 times in 'Finish'
Number 7 appears 276 times in 'Finish'
Number 8 appears 269 times in 'Finish'
Number 9 appears 241 times in 'Finish'
Number 10 appears 284 times in 'Finish'

In [26]:
unique_pos = df['pos'].unique()
print("Unique values in 'pos':")
print(unique_pos)

pos_counts = df['pos'].value_counts()
print("\nCounts of each 'pos' value:")
print(pos_counts)

Unique values in 'pos':
[ 32.  18.  nan  26.  67.  45.   2.   1.  60.  10.  69.  13.  53.  64.
  48.   5.  37.  31.   3.  51.  70.  35.  15.  68.  27.  40.  21.  57.
   7.  66.  52.  23.   4.  63.  12.   9.  71.  41.  34.  55.  30.  75.
  54.  77.   8.  20.  78.  46.  79.  38.  65.  17.  59.  25.  81.  76.
  73.  83.  56.   6.  62.  49.  61.  42.  24.  33.  72.  29.  11.  43.
  39.  44.  50.  14.  47.  58.  28.  22.  36.  16.  74.  19.  80.  82.
  84.  85.  86. 999.  87.  91.]

Counts of each 'pos' value:
pos
2.0     479
17.0    430
18.0    401
3.0     391
10.0    391
       ...
84.0      7
83.0      6
86.0      4
87.0      2
91.0      1
Name: count, Length: 89, dtype: int64

In [27]:
pos_str = df['pos'].astype(str)

for i in range(1, 11):
    count = (pos_str == str(i)).sum()
    print(f"Number {i} appears {count} times in 'pos'")

Number 1 appears 0 times in 'pos'
Number 2 appears 0 times in 'pos'
Number 3 appears 0 times in 'pos'
Number 4 appears 0 times in 'pos'
Number 5 appears 0 times in 'pos'
Number 6 appears 0 times in 'pos'
Number 7 appears 0 times in 'pos'
Number 8 appears 0 times in 'pos'
Number 9 appears 0 times in 'pos'
Number 10 appears 0 times in 'pos'

Further inspect the 'pos' field.

In [28]:
print(df['pos'].describe())

print(df['pos'].value_counts().head(20))

count    21317.000000
mean        34.168363
std         27.613125
min          1.000000
25%         15.000000
50%         32.000000
75%         51.000000
max        999.000000
Name: pos, dtype: float64
pos
2.0     479
17.0    430
18.0    401
3.0     391
10.0    391
4.0     381
12.0    373
13.0    371
7.0     366
5.0     363
26.0    360
35.0    355
22.0    355
8.0     354
41.0    354
14.0    350
6.0     348
20.0    343
11.0    340
33.0    340
Name: count, dtype: int64

Convert 'pos' field to a float.

In [33]:
pos_num = pd.to_numeric(df['pos'], errors='coerce')

for i in range(1, 11):
    count = (pos_num == i).sum()
    print(f"Number {i} appears {count} times in 'pos'")

Number 1 appears 327 times in 'pos'
Number 2 appears 479 times in 'pos'
Number 3 appears 391 times in 'pos'
Number 4 appears 381 times in 'pos'
Number 5 appears 363 times in 'pos'
Number 6 appears 348 times in 'pos'
Number 7 appears 366 times in 'pos'
Number 8 appears 354 times in 'pos'
Number 9 appears 312 times in 'pos'
Number 10 appears 391 times in 'pos'

Further compare 'pos' and 'finish' to check for discrepencies.

In [34]:
top10 = df[df['pos'].between(1, 10)]
top10[['tournament id', 'player', 'pos', 'Finish']]

       tournament id           player   pos Finish
11         401353224       Aaron Wise   2.0      2
16         401353224   Billy Horschel   1.0      1
19         401353224   Brendan Steele  10.0    T10
36         401353224    Daniel Berger   5.0     T5
41         401353224   Denny McCarthy   5.0     T5
...              ...              ...   ...    ...
36826           2271     Martin Laird   3.0    NaN
36834           2271   Robert Allenby   8.0    NaN
36838           2271    Retief Goosen   3.0    NaN
36844           2271    Sang-Moon Bae   1.0    NaN
36845           2271  Steven Bowditch   2.0    NaN

[3712 rows x 4 columns]

Overall it seems the feature 'pos' has the most useful data for the client. However, there are some strange entries where the player is listed as CUT from the tournament but also have a low finishing position in 'pos'. This is not possible. A manual check of these tournaments is necessary.

In [36]:
df['pos_num'] = pd.to_numeric(df['pos'], errors='coerce')
cut_top10 = df[(df['Finish'].str.upper() == 'CUT') & (df['pos_num'] < 11)]

# Select relevant columns
cut_top10_info = cut_top10[['tournament name', 'season', 'player', 'pos', 'Finish']]

# Show the results
print(cut_top10_info)

                tournament name  season          player  pos Finish
30430  Wells Fargo Championship    2016       Danny Lee  9.0    CUT
31518       Northern Trust Open    2016       K.J. Choi  5.0    CUT
31532       Northern Trust Open    2016   Marc Leishman  5.0    CUT
35555       Northern Trust Open    2015   Graham DeLaet  8.0    CUT
35572       Northern Trust Open    2015   Jordan Spieth  4.0    CUT
35576       Northern Trust Open    2015  Keegan Bradley  4.0    CUT
35582       Northern Trust Open    2015    Kyle Reifers  8.0    CUT

Manually checking the leaderboards of these tournaments has found that the 'pos' field is accurate. The players were not 'CUT' from the tournaments. Now it is necessary to check if the data that has a missing 'pos' value is always due to a missed cut.

In [ ]:
missing_pos_count = df['pos'].isna().sum()
print(f"Missing pos: {missing_pos_count}")

cut_missing_pos = df[df['pos'].isna() & (df['Finish'].str.upper() == 'CUT')]
print(f"Missing pos & Finish = CUT: {cut_missing_pos.shape[0]}")

cut_missing_pos2 = df[df['pos'].isna() & (df['made_cut'] == 0)]
print(f"Missing pos & made_cut = 0: {cut_missing_pos2.shape[0]}")

Missing pos: 15547
Missing pos & Finish = CUT: 12101
Missing pos & made_cut = 0: 14276

This indicates that in the MAJORITY (but not all) cases a missing 'pos' value is due to a missed cut. Now it is necessary to check the data that indicates a cut has been made but 'pos' data is still missing.

In [45]:
summary = df.groupby('season').apply(
    lambda g: pd.Series({
        'total_players': g['player'].count(),
        'missing_pos': g['pos'].isna().sum(),
        'made_cut_missing_pos': g.loc[g['pos'].isna(), 'made_cut'].eq(1).sum(),
        'cut_missing_pos': g.loc[g['pos'].isna(), 'made_cut'].eq(0).sum()
    })
)

print(summary)

        total_players  missing_pos  made_cut_missing_pos  cut_missing_pos
season
2015             4174         1578                   138             1440
2016             4165         1611                   120             1491
2017             4745         1871                   117             1754
2018             4979         1997                   152             1845
2019             5150         2185                   163             2022
2020             4287         1872                   162             1710
2021             5688         2802                   263             2539
2022             3676         1631                   156             1475

C:\Users\dmiln\AppData\Local\Temp\ipykernel_18324\2094626903.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  summary = df.groupby('season').apply(

This indicates that in a small sample, players have made the cut but are still missing 'pos' values. Further inspection is required of this sample.

In [43]:
# Filter for players who made the cut but have missing pos
made_cut_missing_pos = df[(df['made_cut'] == 1) & (df['pos'].isna())]

# Select the columns you want in the table
columns_to_show = ['player', 'tournament name', 'season', 'pos', 'Finish', 'made_cut']

# Take a random sample of 20
sample_20 = made_cut_missing_pos[columns_to_show].sample(20, random_state=42)

# Display the sample
sample_20

,player,tournament name,season,pos,Finish,made_cut
36067,Stuart Appleby,Humana Chalenge,2015,NaN,NaN,1
35714,Rod Pampling,AT&T Pebble Beach Pro-Am,2015,NaN,T65,1
11568,Adam Hadwin,AT&T Pebble Beach Pro-Am,2020,NaN,CUT,1
27428,Brett Stegmaier,CareerBuilder Challenge,2017,NaN,NaN,1
22428,Jim Herman,AT&T Pebble Beach Pro-Am,2018,NaN,CUT,1
22415,Greg Chalmers,AT&T Pebble Beach Pro-Am,2018,NaN,CUT,1
2084,Davis Love III,AT&T Pebble Beach Pro-Am,2022,NaN,CUT,1
9061,Sean O'Hair,Corales Puntacana Resort & Club Championship,2021,NaN,NaN,1
2129,Matt Kuchar,AT&T Pebble Beach Pro-Am,2022,NaN,CUT,1
15142,Paul Barjon,RBC Canadian Open,2019,NaN,T20,1
35715,Rory Sabbatini,AT&T Pebble Beach Pro-Am,2015,NaN,CUT,1
12095,Nick Taylor,The American Express,2020,NaN,CUT,1
31988,George McNeill,CareerBuilder Challenge,2016,NaN,NaN,1
8865,Joseph Bramlett,Sanderson Farms Championship,2021,NaN,T44,1
9025,Luke List,Corales Puntacana Resort & Club Championship,2021,NaN,NaN,1
22413,Ernie Els,AT&T Pebble Beach Pro-Am,2018,NaN,CUT,1
11691,Scott Harrington,AT&T Pebble Beach Pro-Am,2020,NaN,CUT,1
2340,Brendon Todd,The American Express,2022,NaN,CUT,1
34471,Scott Gutschewski,Wells Fargo Championship,2015,NaN,T66,1
17371,D.A. Points,AT&T Pebble Beach Pro-Am,2019,NaN,CUT,1

It is necessary with regards the client's needs to check if any players have a 'finish' value within the top ten but are missing 'pos' data.

In [44]:
import pandas as pd

# Make Finish strings uniform
finish_str = df['Finish'].astype(str).str.upper()

# Filter rows where pos is NaN and Finish indicates 1–10 (with or without 'T')
pos_nan_top10 = df[
    df['pos'].isna() &
    finish_str.str.match(r'^T?[1-9]$|^T?10$')
]

# Select relevant columns
columns_to_show = ['player', 'tournament name', 'season', 'pos', 'Finish', 'made_cut']

# Display the results
pos_nan_top10[columns_to_show]

,player,tournament name,season,pos,Finish,made_cut
2771,Taylor Moore,The RSM Classic,2022,NaN,T8,1
3629,Mito Pereira,Fortinet Championship,2022,NaN,3,1
4211,Mito Pereira,3M Open,2021,NaN,T6,1
4434,Mito Pereira,Barbasol Championship,2021,NaN,T5,1
8676,Abraham Ancer,Shriners Hospital for Children Open,2021,NaN,4,1
8677,Austin Cook,Shriners Hospital for Children Open,2021,NaN,T2,1
8685,Bryson DeChambeau,Shriners Hospital for Children Open,2021,NaN,T8,1
8729,James Hahn,Shriners Hospital for Children Open,2021,NaN,T5,1
8737,Justin Suh,Shriners Hospital for Children Open,2021,NaN,T8,1
8761,Martin Laird,Shriners Hospital for Children Open,2021,NaN,1,1
8763,Matthew NeSmith,Shriners Hospital for Children Open,2021,NaN,T8,1
8765,Matthew Wolff,Shriners Hospital for Children Open,2021,NaN,T2,1
8769,Patrick Cantlay,Shriners Hospital for Children Open,2021,NaN,T8,1
8772,Peter Malnati,Shriners Hospital for Children Open,2021,NaN,T5,1
8792,Si Woo Kim,Shriners Hospital for Children Open,2021,NaN,T8,1
8811,Will Zalatoris,Shriners Hospital for Children Open,2021,NaN,T5,1
8836,Cameron Davis,Sanderson Farms Championship,2021,NaN,T6,1
8838,Charley Hoffman,Sanderson Farms Championship,2021,NaN,T6,1
8852,Denny McCarthy,Sanderson Farms Championship,2021,NaN,T6,1
8862,Henrik Norlander,Sanderson Farms Championship,2021,NaN,T4,1
8871,J.T. Poston,Sanderson Farms Championship,2021,NaN,3,1
8877,Keegan Bradley,Sanderson Farms Championship,2021,NaN,T4,1
8887,Kristoffer Ventura,Sanderson Farms Championship,2021,NaN,T6,1
8907,Peter Malnati,Sanderson Farms Championship,2021,NaN,2,1
8923,Sergio Garcia,Sanderson Farms Championship,2021,NaN,1,1
8934,Scott Stallings,Sanderson Farms Championship,2021,NaN,T6,1
8940,Tyler McCumber,Sanderson Farms Championship,2021,NaN,T6,1
18524,Dylan Meyer,Sanderson Farms Championship,2019,NaN,T7,1
24437,Charley Hoffman,RBC Canadian Open,2017,NaN,2,1
31512,Jordan Spieth,Northern Trust Open,2016,NaN,T10,0
35626,Zac Blair,Northern Trust Open,2015,NaN,T4,0
36409,John Rollins,Sanderson Farms Championship,2015,NaN,T4,1

There are a very small sample of instances where a player has a missing 'pos' value but a 'finish' value inside the top ten. In 2 occurences it is suggested that these players missed the cut (which is not possible). A manual check of the leaderboard of these tournaments indicates that the 'finish' value is correct and they did finish inside the top 10.

---

# Conclusions and Next Steps

- Overall, the data is thorough and accurate. It will be very useful for the client's needs.  
- There are some discrepancies between the features of 'pos' and 'finish'. These will need to be considered in the data cleaning process.  
- As manual checks have indicated, 'pos' is the most useful feature for the client (due to the increased amount of data of players in the top 10), but on some occasions 'finish' can provide correct data when there is no 'pos' data. A careful amalgamation of the two features may be the best way forward.  
- There are some inaccuracies around the 'cuts made' data, but this does not impact the client's needs.  
- A number of other fields can be deleted, such as name, cut made, and purse.