# Data Cleaning

## Objectives

* Write here your notebook objective, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write here which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* In case you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [3]:
import os
current_dir = os.getcwd()
current_dir

'c:\\project-five-golf-data-analytics\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [4]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [5]:
current_dir = os.getcwd()
current_dir

'c:\\project-five-golf-data-analytics'

# Load Data

The initial data to load is the csv file that has oalready been partly cleaned in the TopTenPlayerStudy notebook.

In [6]:
import pandas as pd

file_path = "outputs/data/interim/cleaned_data.csv"
df = pd.read_csv(file_path)
df.head()

,Player_initial_last,tournament id,player id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,...,sg_app,sg_ott,sg_t2g,sg_total,finish_clean,finish_numeric,pos_differs,true_pos,top_ten,mid_band
0,A. Ancer,401353224,9261,288,289,60.0,51.1,56,3,7.6,...,-0.08,0.86,0.65,0.85,32,32.0,False,32.0,0,0
1,A. Hadwin,401353224,5548,288,286,72.5,61.5,61,8,13.0,...,0.31,0.18,1.24,1.60,18,18.0,False,18.0,0,1
2,A. Lahiri,401353224,4989,144,147,21.5,17.4,27,0,0.0,...,-1.09,0.37,0.02,-0.54,CU,0.0,False,0.0,0,0
3,A. Long,401353224,6015,144,151,20.5,13.6,17,0,0.4,...,-0.02,0.80,-1.08,-2.54,CU,0.0,False,0.0,0,0
4,A. Noren,401353224,3832,144,148,23.5,18.1,23,0,1.2,...,-1.39,0.19,-1.56,-1.04,CU,0.0,False,0.0,0,0

---

# Remove unecessary features

A number of features in this df are unecessary for the client's needs. We will list the features, highlight the ones needed and delete the rest.

In [7]:
df.columns.tolist()

['Player_initial_last',
 'tournament id',
 'player id',
 'hole_par',
 'strokes',
 'hole_DKP',
 'hole_FDP',
 'hole_SDP',
 'streak_DKP',
 'streak_FDP',
 'streak_SDP',
 'n_rounds',
 'made_cut',
 'pos',
 'finish_DKP',
 'finish_FDP',
 'finish_SDP',
 'total_DKP',
 'total_FDP',
 'total_SDP',
 'player',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'tournament name',
 'course',
 'date',
 'purse',
 'season',
 'no_cut',
 'Finish',
 'sg_putt',
 'sg_arg',
 'sg_app',
 'sg_ott',
 'sg_t2g',
 'sg_total',
 'finish_clean',
 'finish_numeric',
 'pos_differs',
 'true_pos',
 'top_ten',
 'mid_band']

In [8]:
features_to_keep = [
    "player id",
    "tournament id",
    "finish_numeric",
    "true_pos",
    "top_ten",
    "mid_band",
    "sg_putt",
    "sg_arg",
    "sg_app",
    "sg_ott",
    "sg_t2g",
    "sg_total"
]

df = df[features_to_keep]
df.head()

,player id,tournament id,finish_numeric,true_pos,top_ten,mid_band,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
0,9261,401353224,32.0,32.0,0,0,0.20,-0.13,-0.08,0.86,0.65,0.85
1,5548,401353224,18.0,18.0,0,1,0.36,0.75,0.31,0.18,1.24,1.60
2,4989,401353224,0.0,0.0,0,0,-0.56,0.74,-1.09,0.37,0.02,-0.54
3,6015,401353224,0.0,0.0,0,0,-1.46,-1.86,-0.02,0.80,-1.08,-2.54
4,3832,401353224,0.0,0.0,0,0,0.53,-0.36,-1.39,0.19,-1.56,-1.04